<h3>İçerikler

</h3>
<!-- START panel-->
<div class="panel panel-default">

   <div class="panel-body">
      <form  ng-controller="icerikController"  class="form-horizontal">
         <div ng-if="icer=='1'">
               <label class="col-sm-2 control-label">Yeni İçerik Oluşturmak için tıklayın</label>
               <button id="editorac" class="btn btn-info" ng-click="icerikac()" > Aç</button>
         </div>
         <div ng-if="icer=='2'">
               <label class="col-sm-2 control-label">içerik oluşturmayı kapat</label>
               <button id="editorac" class="btn btn-danger" ng-click="icerikkapat()" > Kapat</button>
         </div>
        
      
         <fieldset ng-if="icer=='2'"> <br>
            <div class="form-group" >
               <label class="col-sm-2 control-label">Yeni İçerik Oluşturun</label>
               <div class="col-sm-10">
                  <script type="text/ng-template" id="ng-wig/views/ng-wig.html" >
                     <div  class="ng-wig"><div class="btn-group btn-group-sm wd-wide"><button type="button" title="Header"
                         ng-click="execCommand('formatblock', '&lt;h1&gt;')" class="btn btn-sm btn-default"><em class="fa fa-header">

                         </em></button><button type="button" title="Paragraph" ng-click="execCommand('formatblock', '&lt;p&gt;')"
                          class="btn btn-sm btn-default"><em class="fa fa-paragraph"></em></button><button type="button" title="Unordered List" 
                          ng-click="execCommand('insertunorderedlist')" class="btn btn-sm btn-default"><em class="fa fa-list-ul">
                          </em></button><button type="button" title="Ordered List" ng-click="execCommand('insertorderedlist')" class="btn btn-sm btn-default">
                             <em class="fa fa-list-ol"></em></button><button type="button" title="Bold" ng-click="execCommand('bold')" class="btn btn-sm btn-default">
                                <em class="fa fa-bold"></em></button><button type="button" title="Italic" ng-click="execCommand('italic')" class="btn btn-sm btn-default">
                                   <em class="fa fa-italic"></em></button><button type="button" title="link" ng-click="execCommand('createlink')" class="btn btn-sm btn-default">
                                      <em class="fa fa-link"></em></button><button type="button" title="Edit Html" ng-class="{ 'nw-button--active': editMode }" ng-click="toggleEditMode()" 
                                      class="pull-right btn btn-sm btn-default"><em class="fa fa-pencil"></em></button></div><div class="nw-editor"><textarea ng-show="editMode" ng-model="content" 
                                       class="nw-editor__src"> </textarea><iframe scrolling="{{ autoexpand ? 'no' : 'yes' }}" frameBorder="0" ng-hide="editMode" ng-model="content" ng-wig-editable=""
                                        class="nw-editor__res"></iframe></div></div>
                  </script>
                  <textarea  ng-wig="content"></textarea>
               </div> 
               <div class="col-sm-4 col-sm-offset-2">
                     <br>
                     <button type="submit" class="btn btn-primary" ng-click="onSubmit(content)">Save changes</button>
                  
                  </div>
            </div>
         </fieldset>
    
          <hr>
         <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                
                  <tbody>
                     <tr ng-repeat="item in modelicerik | orderBy:'-ID'">
                        <td>
                           <div >
                            
                             <span>{{item.ID}} </span>
                             
                           </div>
                        </td>
                        <td>
                           <div>
                              <div class="media-body">
                                 <div class="pull-right btn btn-danger btn-sm" ng-click="sil(item.ID,item)">Sil</div>
                                 <!-- <h4 class="media-heading">İçeriği oluşturan : <b>{{item.OlusturanKisi}}</b>  </h4> -->
                                 <small class="text-muted">Tarih :  {{item.Tarih}} </small>

                                 <div class="col-sm-11">
                                       <p ng-bind-html-unsafe="thisCanBeusedInsideNgBindHtml"> </p> 
                                       <label  ng-wig="item.Icerik" > {{item.Icerik}} </label>
                                    </div> 
                              </div>
                              <br>
                              <button class="btn btn-info btn-m" ng-click="guncelle(item)" >Güncelle</button>
                           </div>
                        </td>
                     </tr>
                   
                  </tbody>
               </table>
            </div>
     
      </div>
   </form>
   
</div>
<!-- END panel-->