<h3>Ders Katılım Raporları
  
</h3>
<div class="row" ng-controller="RaporOController">
   <div class="col-lg-6">
         <div id="panelChart9" ng-controller="FlotChartController" class="panel panel-default">
              {{myValue}} <div class="panel-heading">
                  
                  <paneltool tool-collapse="tool-collapse" tool-refresh="traditional"></paneltool>
                  <div class="panel-title">Derslerin Raporu</div>
               </div>
               <div collapse="panelChart9" class="panel-wrapper">
                  <div class="panel-body">
                     <div data-source="ogretmen" class="chart-line flot-chart"></div>
                  </div>
               </div>
            </div>
      </div>
  
   </div>
</div>